<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FeedMe</title>
    <link rel="stylesheet" type="text/css" href="../static/feedme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='feedme.js') }}"></script>

</head>
<body>
    <div id="top">
        <img src="../static/logo.jpg" id="imgLogo">
        <button id="addBtn">+ SHARE AN ITEM</button>
    </div>
    <div id="header">
        <img src="../static/header.jpg" id="imgHeader">
    </div>
	<div class="container">
	</div>
</body>
</html>